---
import type { CollectionEntry } from "astro:content";

type Writing = CollectionEntry<"writings">;

interface Props {
    posts: Writing[];
}
const { posts } = Astro.props;
---

<div>
    <span
        class="font-mono text-xs uppercase tracking-widest text-neutral-400
               block pb-2 border-b border-neutral-200 mb-3"
    >
        related
    </span>

    <div class="flex flex-col">
        {
            posts.map((post) => (
                <a
                    href={`/writing/${post.id}`}
                    class="py-3 border-b border-neutral-200 hover:bg-neutral-50
               transition-colors block"
                >
                    <ol class="flex gap-2 font-mono text-xs text-neutral-400">
                        {post.data.tags.map((tag) => (
                            <li>{tag}</li>
                        ))}
                    </ol>
                    <span class="text-xs font-medium tracking-tight leading-snug block mb-1">
                        {post.data.title}
                    </span>
                    <span class="font-mono text-xs text-neutral-400">
                        {new Date(post.data.date).toLocaleDateString()}
                    </span>
                </a>
            ))
        }
    </div>
</div>
