---
import { type Project } from "../../data/project";
import { FaArrowRight } from "react-icons/fa";
import ProjectCard from "./ProjectCard.astro";

interface Props {
    projects: Project[];
}
const { projects } = Astro.props;
---

<section>
    <div class="flex justify-between items-baseline mb-5">
        <span
            class="font-mono text-xs uppercase tracking-widest text-neutral-600 dark:text-neutral-200"
            >Featured Projects</span
        >
        <a href="/projects" class="font-mono text-xs text-purple-700 flex gap-2"
            >all projects <FaArrowRight />
        </a>
    </div>

    <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-px bg-neutral-200 dark:bg-neutral-800 border border-neutral-200 dark:border-neutral-800 mb-10 md:mb-14"
    >
        {projects.map((p: Project) => <ProjectCard project={p} />)}
    </div>
</section>
