<aside id="timeline-ruler" class="flex flex-col items-center justify-center h-full w-full">
    <div id="ruler-inner" class="relative flex flex-col items-center justify-center gap-0 w-full h-full">
    </div>
</aside>